footer.footer.bg-secondary.text-small.b.pt-5
	.container
		.row.mb-3
			.col.footer-nav-block
				.text-uppercase.mb-3 Каталог
				ul.not-decoration
					li: a.link(href="") Мёд классический
					li: a.link(href="") Крем-мёд
					li: a.link(href="") Пчелопродукты
					li: a.link(href="") Арахисовая паста
					li: a.link(href="") Подарочные наборы
					li: a.link(href="") Премиум продукция
			.col.footer-nav-block.d-none.d-lg-block
				.text-uppercase.mb-3 Информация
				ul.not-decoration
					li: a.link(href="") О компании
					li: a.link(href="") Акции и новости
					li: a.link(href="") Оплата и доставка
					li: a.link(href="") Документы
					li: a.link(href="") Отзывы
					li: a.link(href="") Публичная оферта
			.col.footer-nav-block.d-none.d-lg-block
				.text-uppercase.mb-3 Оптовикам
				ul.not-decoration
					li: a.link(href="") Оплата и доставка
					li: a.link(href="") Сотрудничество
					li: a.link(href="") Продукция
					li: a.link(href="") Контакты
			.col.footer-nav-block.d-none.d-lg-block
				.text-uppercase.mb-3 Поставщикам
				ul.not-decoration
					li: a.link(href="") Информация
					li: a.link(href="") Документы
					li: a.link(href="") Анкета поставщика
					li: a.link(href="") Контакты
			.col-6.col-sm-4.col-md-3.col-lg.footer-nav-block.offset-lg-1
				.text-uppercase.mb-3 Контакты
				ul.mb-4.contacts-list.not-decoration
					li: a.link(href="")
						+icon('map','icon-contacts')
						| Барнаул, Ленина, 1
					li: a.link(href="") 
						+icon('phone','icon-contacts')
						| +7 (905) 989-18-88
					li: a.link(href="") 
						+icon('mail','icon-contacts')
						| zar_med22@mail.ru
				p.text-uppercase Следите за нами в социальных сетях
				.socials
					a(href="")
						+icon('vk','icon-socials')
					a(href="")
						+icon('instagram','icon-socials')
					a(href="")
						+icon('facebook','icon-socials')
		.copyright.d-flex.justify-content-between.py-3
			span © ALTAY GOLD, 2019
			a.link(href="") Разработка сайта - E1MEDIA

