@import "vars"

/*==========  Internet explorer  ==========*/

@media all and (-ms-high-contrast:none)


/*==========  FireFox  ==========*/

@-moz-document url-prefix()


/*==========  Desktop First  ==========*/

// ≥1400px
+media-breakpoint-down(xl)

// ≥1200px
+media-breakpoint-down(lg)
  section
    padding: calc(2rem + 2.5vw) 0
  .lk-container
    width: auto
  .nav-bottom
    font-size: 0.84rem
  .info-block__title-num
    font-size: 3.5rem
  .info-block__title-text
    font-size: 1.75rem
  .info-block__title-text--small
    font-size: 1.275rem
  .info-block__text br
    display: none
  .section-news:before
    height: 125px
    background: url(/img/general/bg-news-top.svg) no-repeat top center/1400px
  .section-news:after
    height: 120px
    background: url(/img/general/bg-news-bottom.svg) no-repeat bottom center/1200px
  .anime-block
    display: none

// ≥992px
+media-breakpoint-down(md)
  .header-body
    align-items: center
  .banner-slider:before 
    background: url(/img/general/bg-wave.svg) no-repeat top center/1200px #fff
    height: 145px
  .info-block
    margin-bottom: 2.5rem
  .info-block__title-num
    font-size: 5rem
  .info-block__title-text
    font-size: 2.5rem
  .info-block__title-text--small
    font-size:  1.875rem

  .action-item.action-item--small
    height: 100%
    p

  .section-news:after
    height: 155px
    background: url(/img/general/bg-news-bottom.svg) no-repeat bottom center/1200px
  .reviews-list .card.swiper-slide-active
    transform: scale(1.05)
  .input-text.input--long
    width: auto
// ≥768px
+media-breakpoint-down(sm)
  .section-sign:before
    height: 125%
  .reviews-list 
    padding: 175px 40px 9.5%
    .card.swiper-slide-active
      transform: scale(1.04)
  .section-sign
    padding-bottom: 0
  .filter-item__price
    margin-bottom: 0.2rem
// ≥576px
+media-breakpoint-down(xs)
  .action-item
    height: 280px!important
    margin-bottom: 1.5rem!important
  .banner-next,.banner-prev
    display: none
  #card 
    .modal-content
      padding: 0
    .card__footer
      flex-wrap: wrap
    .card__basket-container
      width: 100%
    .card__basket
      margin-top: 1.25rem
      width: 100%
      border-radius: 25px
      border: 1px solid transparent
      background-color: #FECC00
    .card__basket span
      opacity: 1
    .card__basket .basket-icon
      left: 20px
      right: auto
      opacity: 1!important
  .section-hits-title
    justify-content: space-between
    h1
      margin-right: 0
    .divider:before
      display: none
/*==========  mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)
  .swiper-container.category-slider
    overflow: visible
  #card
    .modal-dialog
      max-width: 977px
    .card-container
      padding: 5rem 4.375rem
      display: flex
      &>.card__img
        transform: translate(0)
        position: static
        display: block
        max-height: 270px
        height: 500px
        margin-left: 0
    .card__body .card__img
      display: none
    .card
      padding: 0
      max-width: 420px
      width: 100%
// ≤1200px
+media-breakpoint-up(xl)
